<h1>New gift</h1>

<%= form_for @gift do |form| %>

<%= form.label :item, "Item" %>
<%= form.text_field :item %>
<br>
<%= form.label :name, "Description" %>
<%= form.text_area :name %>
<br>
<%= form.label :price %>
<%= form.number_field :price, step: 0.01 %>
<br>
<%= form.label :url %>
<%= form.url_field :url %>
<br>
<%= form.submit "Add Item" %>

<% end %>
